
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.container{
    font-family: Poppins;
    background-color: white;
    padding: 20px;
    .tittle{
        text-align: center;
    }
    .services{
        margin: 50px 0;
        display: flex;
        flex-wrap: wrap;
        row-gap: 50px;
        .service{
            width: calc(100% / 12 * 4);
            display: flex;
            padding: 10px;
            gap: 5px;
            .Icon{
                color: rgb(255, 95, 3);
            }
            div{
                display: flex;
                flex-direction: column;
                gap: 10px;
                button{
                    border: none;
                    color: rgb(255, 95, 3);
                    width: 70px;
                    cursor: pointer;
                    background-color: transparent;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container{
        .services{
            .service{
                width: 50%;
            }
        }
    }  
}
@media screen and (max-width: 458px) {
    .container{
        .services{
            .service{
                width: 100%;
            }
        }
    }  
}