@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px !important;
    form{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        input{
            font-family: Poppins;
            outline: none;
            height: 40px;
            border: none;
            background-color: grey;
            padding: 0 0 0 5px;
            &::-webkit-input-placeholder{
                color: white;
                font-family: Poppins;
            }
        }
        button{
            color: white;
            background-color: Blue;
            height: 30px;
            border: none;
            cursor: pointer;
            transition: 300ms;
            &:hover{
                background-color: rgb(2, 2, 136);
            }
        }
    }
}